body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

/* Center */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Navbar */
.navbar {
    background: #020617;
    padding: 15px;
}

.navbar a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

/* Layout */
.container {
    padding: 30px;
}

/* Glass card */
.glass {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 10px;
}

/* Button */
.btn {
    padding: 10px 20px;
    background: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
}

/* Inputs */
input, select {
    padding: 8px;
    width: 100%;
}